In [22]:
import pandas as pd

In [23]:
cafeterias = pd.read_csv('dados.csv')

In [24]:
cafeterias.head(3)

,titulo,instagram,coordenadas,horario,menu,Nome-arquivo-menu
0,81 Coffee & Co.,81coffeeco,"-8.050167670278611, -34.898255859968295","segunda a sexta - 10h às 21h,\nsábado e doming...",imagens/81coffeeco.png,NaN
1,A vida é bela,avidaebela.cafe,"-8.05013240889161, -34.95860768857569",terça a sábado - 14h às 20h30,imagens/a-vida-e-bela.png,NaN
2,Artisano café e cozinha,artisanocafe,"-8.0515953250438, -34.909794673230785","segunda a quinta - 12h às 20h,\nsextas - 12h à...",imagens/em-breve.png,imagens/artisano.png

In [25]:
cafeterias[['latitude', 'longitude']] = cafeterias['coordenadas'].str.split(pat=',', expand=True)

In [26]:
cafeterias.drop(columns=['coordenadas'], inplace=True)

In [27]:
cafeterias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   titulo             33 non-null     object
 1   instagram          33 non-null     object
 2   horario            33 non-null     object
 3   menu               33 non-null     object
 4   Nome-arquivo-menu  31 non-null     object
 5   latitude           33 non-null     object
 6   longitude          33 non-null     object
dtypes: object(7)
memory usage: 1.9+ KB

In [28]:
cafeterias.to_csv('cafeterias.csv', index=False)